<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Esri.ArcGISRuntime" version="200.4.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="200.4.0" targetFramework="net472" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Proj.NET" version="1.2" targetFramework="net472" />
  <package id="ProjNET4GeoAPI" version="1.4.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Diagnostics.Process" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
</packages>